

.ava__wrapper {
    height: 340px;
    background: var(--anotherColor);
    position: relative;
    border-radius: 20px;
    flex: 45% 0 0;
}

.ava__img {

    width: 98%;
    height: 333px;
    object-fit: cover;
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 20px;
}

.user__info {
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
}

.user__about {
    margin-left: 50px;
    font-size: 16px;
    flex: 50% 0 0;

    position: relative;
    padding: 10px;
}

.user__about div {
    padding: 5px;
    margin-bottom: 5px;
    color: var(--mainText);
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.spanInfoLeft {
    display: inline-block;
    font-size: 16px;
    flex: 0 120px;
    color: var(--thirdText);
}

.spanInfoRight {
    display: inline-block;
    font-size: 16px;
    flex: 250px;
    line-height: 24px;
}

.spanInfoRight a{
    color: var(--link);
    font-size: 16px;
    line-height: 24px;
}

.infoBlock {
    display: flex;
    align-items: center;
}


.name {
    margin-top: 20px;
    font-size: 24px;
    width: 100%;
}

.name span {
    width: 100% !important;
    display: block;
}

.contacts {
    display: flex;
    align-items: start;
}

.contactsItem a {
    margin: 1px;
    padding: 0;
    color: var(--secondText);
}

.contactsItems {
    margin-top: -20px;
}

.status {
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    color: var(--statusText);
    margin-bottom: 40px;
    display: block;
    max-width: 250px;
    padding-left: 20px;
    cursor: text;
    font-style: italic;
}

.statusInput {
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    color: #000000 !important;
    margin-bottom: 40px;
    display: block;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #fff;
    background-color: #95cbf1;
}