.ava__wrapper {
    height: 340px;
    background: var(--anotherColor);
    position: relative;
    border-radius: 20px;
    flex: 0 0 45%;
    transition: 0.2s;
    &:hover .changePhotoDiv {
        opacity: 1;
    }
}

.userOptions {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}

.sendMessage {
    text-decoration: none;

    color: var(--mainText)
}

.ava__img {
    width: 98%;
    height: 333px;
    object-fit: cover;
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 20px;
}

.changePhotoDiv {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

.changePhotoImg__button {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    background: rgba(255,255,255,0.2);
    cursor: pointer;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.user__info {

    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;
    z-index: 1;
}

.user__about {
    margin-left: 50px;

    flex: 50% 0 0;
    padding: 10px;
}

.user__edit {
    margin-left: 50px;
    font-size: 16px;
    flex: 50% 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user__about div {
    padding: 5px;
    margin-bottom: 5px;

}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.spanInfoLeft {
    display: inline-block;
    font-size: 14px;
    flex: 0 120px;
    color: var(--statusText);

}

.spanInfoRight {
    display: inline-block;
    font-size: 14px;
    flex: 250px;
    line-height: 16px;
    color: var(--statusText);

}

.spanInfoRight a{
    color: var(--statusText);

    font-size: 16px;
    line-height: 24px;
    transition: 0.2s linear;
}

.spanInfoRight a:hover{
    color: var(--thirdText);
}


.infoBlock {
    display: flex;
    align-items: center;
}


.name {
    margin-top: 20px;
    font-size: 24px;
    width: 100%;
    color: var(--headerLogoText);
}

.name span {
    width: 100% !important;
    display: block;
}

.contacts {
    display: flex;
    align-items: start;
}

.contactsItem a {
    margin: 1px;
    padding: 0;
    color: var(--statusText);
}

.contactsItems {
    margin-top: -20px;
}

.status {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    color: var(--statusText);
    margin-bottom: 40px;
    display: block;
    max-width: 250px;
    padding-left: 20px;
    cursor: text;
    font-style: italic;
}

.statusInput {
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    color: var(--statusText);
    margin-bottom: 40px;
    display: block;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #fff;
    background-color: var(--dialogsBack);
}

.editprofile__button {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.refreshInfo__input {
    width: 250px;
    height: 20px;
    margin: 10px 0;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: var(--mainText);
    background-color: var(--inputFormBacColor);
}

.refreshInfo__aboutMe {
    resize: none;
    width: 250px;
    height: 80px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: var(--mainText);
    background-color: var(--inputFormBacColor);
}

.refreshInfo__button {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 0;
    top: -10px;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--statusText);
    transition: 0.3s linear;

    &:hover {
        color: var(--thirdText )
    }
}

.refreshInfo__formButton {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: 1px solid var(--inputFormButtonTextColor);
    outline: none;
    background-color: var(--inputFormBacColor);
    color: var(--inputFormButtonTextColor);
    transition: 0.3s linear;

    &:hover {
        border: 1px solid var(--inputFormButtonTextColor);
        background-color: var(--inputFormBacColorHoverColor);
        color: var(--inputFormButtonTextColor)
    }
}

.inputDiv {
    position: relative;
}

.errors {
    position: absolute;
    right: 110%;
    top: 12px;
    background: var(--postBackColor);
    padding: 2px 10px;
    border: 1px solid red;
    width: 200px;
    height: 30px;
    color: var(--postTextColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.uploadInput {
    display: none;
}


.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-image: var(--usersFollowBackgrColor);
    font-size: 16px;
    color: var(--usersFollowTextColor);
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.5s;
    background-size: 200% auto;
    border:1px solid transparent;
}

.follow:hover {
    background-position: right center;
}


.unfollow {
    display: flex;
    align-items: center;
    height: 30px;
    background-image: var(--usersUnfollowBackgrColor);
    font-size: 16px;
    color: var(--usersUnfollowTextColor);
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2px;
    background-size: 200% auto;
    border:1px solid transparent;
}

.unfollow:hover {
    background-position: right center;
}

.userOptions {
    display: flex;
    gap: 5px;
}

.profileButtons {
    height: 24px;
    margin-right: 3px;
}