.profile {
    border-radius: 20px;
    min-height: 700px;
    padding: 10px;
}

.profile__title {
    color: var(--mainText);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: var(--titleColor);
}