.profile {
    border-radius: 20px;
    min-height: 700px;
    border-right: 8px solid var(--mainColor);
    padding: 10px;
    background-color: var(--profileBack);
}

.profile__title {
    color: var(--mainText);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: var(--titleColor);
}