.friendsItems {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.friendTitle {
    color: var(--mainText);;
    margin-left: 30px;
    font-size: 16px;
    font-weight: normal;
}

.nofriends {
    color: var(--thirdText);
    font-size: 12px;
}