
.dialogsList__item {
    padding: 0 10px;
    color: var(--mainText);
    cursor: pointer;
    border-bottom: 1px dashed var(--secondColor);
    display: flex;
    align-items: center;
    height: 50px;
}

.itemAva {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}

.dialogsList__item:hover {
    background-color: var(--secondColor);
}

.navlink {
    text-decoration: none;
}
