.dialogsList__item {
    padding: 0 10px 0 0;
    color: var(--mainText);
    cursor: pointer;
    border-bottom: 1px solid var(--secondColor);
    display: flex;
    align-items: center;
    height: 36px;
    width: 250px;
    transition: 0.2s linear;
}

.itemAva {
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin-right: 10px;
}

.dialogsList__item:hover {
    background: var(--sidebarLinkHover);
    border-bottom: 1px dashed transparent;
}

.dialogsList__item:hover span{
    color: #fff;
}

.navlink {
    text-decoration: none;
}

.active {
    background: var(--sidebarLinkHover);
}

.active span{
    color: #fff;
}

.noDialogs {
    padding: 0 20px;
    display: block;
    margin: auto;
}


.dialogsItems {
    display: flex;
    flex-direction: column;
    background-color: var(--usersBack);
}
