body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-image: var(--bgImage2);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Comfortaa', cursive;

}

.App {
  position: relative;
  margin-top: 20px;
  display: grid;
  gap: 2px;
  background-color: var(--mainColor);
  border-radius: 20px 20px 20px 20px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "h h"
                 "s c"
                 "f f" ;
  color: var(--mainText)
}

.content {
  grid-area: c;
  border-radius: 20px;
  min-height: 700px;
  margin-right: 8px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(var(--scrollbarTrack1)), color-stop(var(--scrollbarTrack2)), to(var(--scrollbarTrack3)));
  background: linear-gradient(to right, var(--scrollbarTrack1), var(--scrollbarTrack2), var(--scrollbarTrack3));
}

body::-webkit-scrollbar-thumb {
  height: 150px;
  border-radius: 1px;
  background: linear-gradient(to right, var(--scrollbarThumb1), var(--scrollbarThumb2), var(--scrollbarThumb3));
  -webkit-box-shadow: inset 0 0 3px var(--scrollbarThumbShadow);
  box-shadow: inset 0 0 3px var(--scrollbarThumbShadow);
}