#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html[data-theme="dark"] {
  --mainColor: rgba(25, 25, 25, 0.9);
  --secondColor: rgba(50, 50, 50, 0.8);
  --anotherColor: rgb(36, 36, 36);
  --anotherLink: rgb(36, 36, 36);

  --titleColor: #f87306;
  --mainText: #fff;
  --secondText: #8e8e8e;
  --thirdText: #cacaca;
  --statusText: #8e8e8e;
  --headerLogoText: #fff;
  --headerLoginText: #fff;

  --profileBack: transparent;
  --usersBack: transparent;
  --dialogsBack: transparent;

  --inputFormBacColor: rgb(32, 32, 32);
  --inputFormBordColor: rgb(72, 72, 72);
  --inputFormButtonTextColor: rgb(156, 156, 156);
  --inputFormTextColor: rgb(196, 196, 196);

  --usersBorderColor: #8e8e8e;
  --likesBackg: rgb(35, 33, 33);
  --likesBorder: rgb(50, 50, 50);
  --postBackColor: rgb(35, 33, 33);
  --postTextColor: #fff;

  --inputMessageColorText: #fff;
  --inputMessageColorFon: #575758;

  --scrollbarTrack1: rgba(59, 59, 59, 0.65);
  --scrollbarTrack2: rgba(198, 198, 198, 0.64);
  --scrollbarTrack3: rgba(88, 88, 88, 0.62);

  --scrollbarThumb1: rgb(36, 36, 36);
  --scrollbarThumb2: #a3a3a3;
  --scrollbarThumb3:  rgb(43, 42, 42);
  --scrollbarThumbShadow: #828282;

  --usersListBackColor: rgb(32, 32, 32);
  --usersListEvenColor: rgb(25, 25, 25);
  --usersListTextColor: rgb(196, 196, 196);

  --usersFollowTextColor: #fff;
  --usersFollowTextColorHover: rgb(196, 196, 196);
  --usersFollowBackgrColor: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
  --usersFollowBackgrColorHover: rgb(196, 196, 196);

  --usersUnfollowTextColor: #fff;
  --usersUnfollowTextColorHover: rgb(196, 196, 196);
  --usersUnfollowBackgrColor:  linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
  --usersUnfollowBackgrColorHover: rgb(196, 196, 196);

  --usersGoToTextColor: #fff;
  --usersGoToTextColorHover: rgb(196, 196, 196);
  --usersGoToBackgrColor: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
  --usersGoToBackgrColorHover: rgb(196, 196, 196);

  --buttonSend: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);

  --themeButtonBg: rgb(32, 32, 32);
  --themeButtonText: rgb(196, 196, 196);
  --themeButtonHoverBG: rgb(56, 54, 54);
  --themeButtonHoverText: rgb(255, 255, 255);

  --sidebarLinkActive: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  --sidebarLinkTextActive:  #fff;
  --sidebarLinkHover: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  --sidebarLinkText:  #fff;
  --sidebarLinkTextHover:  #fff;

  --LthemeButtonBg: rgb(115, 116, 116);
  --LthemeButtonText: rgb(255, 255, 255);
  --LthemeButtonHoverBG: rgb(56, 54, 54);
  --LthemeButtonHoverText: rgb(185, 185, 185);

  --loginFormBack: linear-gradient(to bottom, #313438 0%, #252931 51%, #313438 100%);

  --bgImage: url('https://images.wallpaperscraft.ru/image/single/doski_dereviannyj_poverhnost_185510_1920x1080.jpg');
  --bgImage2: url('https://images.wallpaperscraft.ru/image/single/neboskreb_zdanie_arkhitektura_nebo_vid_snizu_118409_1600x900.jpg');
  --bgImage3: url('https://images.wallpaperscraft.ru/image/single/set_polosy_linii_tekstura_poverhnost_temnyy_50346_1920x1080.jpg');
  --bgImage4: url('https://images.wallpaperscraft.ru/image/single/kub_temnyj_tekstura_formy_119956_1920x1080.jpg');

}


html[data-theme="light"] {
  --mainColor: rgb(65, 171, 255, 0.85);
  /*--mainColor: rgb(153 3 255);*/
  --secondColor: rgb(248, 248, 248, 0.9);
  --anotherColor: rgb(242, 242, 242);
  --anotherLink: rgb(179, 119, 240);

  --titleColor: #f1eded;
  --link: #919191;
  --mainText: #1c1c1c;
  --secondText: #2f2d2d;
  --thirdText: #b8e9f1;
  --statusText: #f8f8f8;
  --headerLogoText: #fff;
  --headerLoginText: #242424;

  --profileBack: #fff;
  --usersBack: #fff;
  --dialogsBack: #fff;

  --inputFormBacColor: rgb(255, 255, 255);
  --inputFormBacColorHover: rgb(212, 212, 212);
  --inputFormBordColor: rgb(189, 221, 245);
  --inputFormButtonTextColor: rgb(31, 25, 25);
  --inputFormTextColor: rgb(29, 29, 29);

  --usersBorderColor: #0086fc;
  --likesBackg: rgb(35, 33, 33);
  --likesBorder: rgb(217, 217, 217);
  --postBackColor: rgb(59, 129, 255, 0.1);
  --postTextColor: #000000;

  --sidebarLinkActive:  linear-gradient(to right, #298adf 0%, #91cdff 51%, #298adf  100%);
  --sidebarLinkTextActive: #ffffff;
  --sidebarLinkHover:  linear-gradient(to right, #57abf7 0%, #91cdff 51%, #57abf7  100%);
  --sidebarLinkText:  #000;
  --sidebarLinkTextHover:  #2a2929;

  --inputMessageColorText: #fff;
  --inputMessageColorFon: #575758;

  --scrollbarTrack1: rgb(187, 233, 255);
  --scrollbarTrack2: rgb(255, 255, 255);
  --scrollbarTrack3: rgb(195, 239, 255);

  --scrollbarThumb1: rgb(110, 210, 255);
  --scrollbarThumb2: #008bff;
  --scrollbarThumb3: rgb(110, 210, 255);
  --scrollbarThumbShadow: #ffffff;

  --usersListBackColor: rgb(239 239 239);
  --usersListEvenColor: rgb(191, 224, 255);
  --usersListTextColor: rgb(40, 40, 40);


  --usersFollowTextColor: #fff;
  --usersFollowTextColorHover: rgb(196, 196, 196);
  --usersFollowBackgrColor:linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);
  --usersFollowBackgrColorHover: rgb(196, 196, 196);

  --usersUnfollowTextColor: #fff;
  --usersUnfollowTextColorHover: rgb(196, 196, 196);
  --usersUnfollowBackgrColor:  linear-gradient(to right, #fe8c00 0%, #f83600  51%, #fe8c00  100%);
  --usersUnfollowBackgrColorHover: rgb(196, 196, 196);

  --usersGoToTextColor: #fff;
  --usersGoToTextColorHover: rgb(196, 196, 196);
  --usersGoToBackgrColor: linear-gradient(to right, #68acea 0%, #5992de 51%, #8ac2f8 100%);
  --usersGoToBackgrColorHover: rgb(196, 196, 196);

  --buttonSend: linear-gradient(to right, #78c6fd 0%, #4486ff 51%, #54a5eb 100%);

  --LthemeButtonBg: rgb(136, 46, 241);
  --LthemeButtonText: rgb(255, 255, 255);
  --LthemeButtonHoverBG: rgb(164, 98, 235);
  --LthemeButtonHoverText: rgb(255, 255, 255);

  --loginFormBack: linear-gradient(to bottom, #c7c8c9 0%, #f9f9f9 51%, #c7c8c9 100%);

  --bgImage: url('https://images.wallpaperscraft.ru/image/single/doski_dereviannyj_poverhnost_185510_1920x1080.jpg');
  --bgImage2: url('https://images.wallpaperscraft.ru/image/single/gory_vershina_art_141610_1600x900.jpg');
  --bgImage3: url('https://images.wallpaperscraft.ru/image/single/set_polosy_linii_tekstura_poverhnost_temnyy_50346_1920x1080.jpg');
  --bgImage4: url('https://images.wallpaperscraft.ru/image/single/pyatna_nebo_linii_85072_1920x1080.jpg');
}


.btn-grad {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
