.dialogs {
    background-color: var(--mainColor);
    border-right: 2px solid var(--mainColor);
    border-radius: 20px;
}

.dialogs__title {
    color: var(--mainText);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: var(--titleColor);
}

.dialogsBox {
    display: flex;
    border-top: 1px solid var(--inputFormBacColor);
    background-color: var(--anotherColor);
}

.dialogsList {
    border-right: 1px solid var(--inputFormBacColor);
    background-color: var(--usersBack);
}

.messagesData {
    height: 50vh;
    overflow-y: auto;
}

.chat {
    background-color: var(--secondColor);
    margin-right: 5px;
    width: 100%;
}

.noMessages {
    display: block;
    margin: auto;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

