.newMessageBox {
    margin: 10px 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newMessageForm {
    height: 100%;
    display: flex;
}

.newMessage {
    color: var(--inputFormTextColor);
    width: 650px;
    padding: 8px;
    border: 1px solid var(--inputFormBordColor);
    border-radius: 2px;
    background-color: var(--inputFormBacColor);
    height: 70px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    resize: none;
}

.newMessage::placeholder {
    color: var(--statusText);
}

.newMessage:focus {
    background-color: var(--anotherColor);
}

.sendMessage {
    width: 120px;
    height: 40px;
    margin-left: auto;
    margin-top: 10px;
    background-image: var(--usersFollowBackgrColor);
    outline: none;
    border: 1px solid var(--secondColor);
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    color: var(--mainText);
    transition: 0.5s;
    background-size: 200% auto;
}

.sendMessage:hover {
    background-position: right center;
}



